/* General */

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #EFEFEF; 
}

span.red {
	color: red;
}

.title-heart h1, h1.inner-title {
	font-family: 'Roboto Slab', serif;
}

.title-heart h1 a {
	color: #42210b;
}

.category-name {
	color: #A67C52;
}


/* Grid */

#innerpage {
   min-height: 100%;
}

#innerpage #footer {
   bottom: 0;
}

.gallery {
	overflow: hidden;
}

#maximage {
	top: 120px;
}

#banner {
	top: 120px;
}

#main {
	margin-top: 120px;
	padding: .5em 0;
}

#header {
	height: 120px;
}

#menu {
	/*bottom: -100px;*/
}

.units-row .unit-20 {
	padding-left: 1.2em;
}

#innerpage .colright2 {
	margin-left: 2%;
    width: 58%;
}


/* Header */

h1#logo {
	top: -20px;
}

h1#logo > a > img {
	width: 160px;
}

.nav-intro ul li a {
	font-weight: bold;
}

.nav-intro ul li {
	margin: 0 1.5em;
}

.menutop {
	right: 70px;
}

.menutop ul li a {
	font-weight: bold;
}

#banner img {
	border-width: 0px;
}

.nav-intro .wrapper {
    padding-left: 15px;
}


/* Sidebar */

li.big-menu {
	text-transform: uppercase;
}

li.small-menu {
	padding-left: 15px;
}


/* Linh tinh */

.gallery .fancybox {
    width: 256px;
    border: 1px solid #cc9a5c;
    display: block;
    float: left;
    margin: 10px;
    overflow: hidden;
}

.gallery .fancybox:hover {
    border-color: #2b2120;
}


/* Product */
.sanpham .fancybox-thumbs {
	border: none;
	border-bottom: 3px solid #cc9a5c;
}

.product-preview {
	height: 400px;
}


/* Footer */

#footer .text-centered span {
	padding-top: 12px;
}

#footer .wrapper .text-centered span {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
}

img.logo-circle {
	width: 176px;
	height: auto;
	border: 2px solid #111111;
	border-radius: 88px;
	-moz-border-radius: 88px;
	-webkit-border-radius: 88px;
	background: white;
}

#footer span {
	color: #725020;
    text-decoration: none;
    line-height: 40px;
    margin: 0 10px;
    font-size: 14px;
}